* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    font-family: "Jersey 10";

}

h1 {
    margin: 0;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

canvas {
    display: block;
    height: 90vh;
    background: url('../imgs/backdrop2.png') center / cover no-repeat;
}

button {
    all: unset;

    cursor: pointer;
    padding: 20px 40px;

    font-family: "Jersey 10";

    color: aliceblue;
    font-size: 32px;
    letter-spacing: 4px;
    text-shadow:
        2px 0 black,
        -2px 0 black,
        0 2px black,
        0 -2px black,
        2px 2px black,
        2px -2px black,
        -2px 2px black,
        -2px -2px black;

    border: 3px solid black;
    border-radius: 12px;



}