.game-over-modal {
    display: grid;

    position: absolute;
    width: 400px;
    height: 45vh;
    justify-content: center;
    justify-items: center;

    letter-spacing: 3px;


    .title {
        font-size: 4rem;
        color: orange;

        text-shadow:
            2px 0 #000,
            -2px 0 #000,
            0 2px #000,
            0 -2px #000,
            2px 2px #000,
            2px -2px #000,
            -2px 2px #000,
            -2px -2px #000;

    }

    .summary-box {
        width: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        padding: 14px 18px;

        background: #b5e7a0;
        border: 4px solid #5a9d6b;
        border-radius: 6px;
        color: #7fbf87;

        text-shadow:
            2px 0 #000,
            -2px 0 #000,
            0 2px #000,
            0 -2px #000,
            2px 2px #000,
            2px -2px #000,
            -2px 2px #000,
            -2px -2px #000;

        box-shadow:
            inset 0 0 0 3px #d4f5be,
            0 4px 0 #3b2727;

        .summary-container {
            justify-items: end;

            p{
                font-size:2em ;
                color: rgb(255, 255, 255);
            }
        }

        .medal-container {
            display: flex;
            flex-direction: column;
            place-items: center;
            
            .medal {
                margin-top: 2em;
                width: 100px;
                height: 100px;
                background-color: aqua;
                border-radius: 50%;

                border: 2px solid #9ed58a;
         
                background: rgba(255, 255, 255, 0.05);
                margin-right: 16px;

            }
        }

    }

    button {
        margin-top: 1em;
        background: #1db815;
        box-shadow:
            inset 0 0 0 3px #0000006b,
            0 3px 0 #9eb2b5;
    }
}

.hidden {
    display: none;
}