
.fade-screen {
    position: fixed;
    inset: 0;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}


.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 10px),
    5px calc(100% - 10px),
    5px calc(100% - 5px),
    10px calc(100% - 5px),
    10px 100%,
    calc(100% - 10px) 100%,
    calc(100% - 10px) calc(100% - 5px),
    calc(100% - 5px) calc(100% - 5px),
    calc(100% - 5px) calc(100% - 10px),
    100% calc(100% - 10px),
    100% 10px,
    calc(100% - 5px) 10px,
    calc(100% - 5px) 5px,
    calc(100% - 10px) 5px,
    calc(100% - 10px) 0px,
    10px 0px,
    10px 5px,
    5px 5px,
    5px 10px,
    0px 10px);
  position: relative;
}
.pixel-corners {
  border: 5px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(5px 10px,
    10px 10px,
    10px 5px,
    calc(100% - 10px) 5px,
    calc(100% - 10px) 10px,
    calc(100% - 5px) 10px,
    calc(100% - 5px) calc(100% - 10px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 10px) calc(100% - 5px),
    10px calc(100% - 5px),
    10px calc(100% - 10px),
    5px calc(100% - 10px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 10px),
    5px calc(100% - 10px),
    5px calc(100% - 5px),
    10px calc(100% - 5px),
    10px 100%,
    calc(100% - 10px) 100%,
    calc(100% - 10px) calc(100% - 5px),
    calc(100% - 5px) calc(100% - 5px),
    calc(100% - 5px) calc(100% - 10px),
    100% calc(100% - 10px),
    100% 10px,
    calc(100% - 5px) 10px,
    calc(100% - 5px) 5px,
    calc(100% - 10px) 5px,
    calc(100% - 10px) 0px,
    10px 0px,
    10px 5px,
    5px 5px,
    5px 10px,
    0px 10px,
    0px 50%,
    5px 50%,
    5px 10px,
    10px 10px,
    10px 5px,
    calc(100% - 10px) 5px,
    calc(100% - 10px) 10px,
    calc(100% - 5px) 10px,
    calc(100% - 5px) calc(100% - 10px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 10px) calc(100% - 5px),
    10px calc(100% - 5px),
    10px calc(100% - 10px),
    5px calc(100% - 10px),
    5px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2e1f1f;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -5px;
}


