.game-wrapper {
    display: grid;
    position: relative;

    width: 400px;
    height: 600px;

    /* margin: 0 auto; */
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-modal,
.game-over-modal {
    display: grid;

    /* width: 400px; */
    height: 50vh;

    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    /* height: 100%; */
    place-items: center;
}