.game-wrapper {
    display: flex;
    position: relative;
    justify-self: center;
    justify-content: center;
    align-items: center;
    

}

.start-modal,
.game-over-modal {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 230px;
    width: 85dvw;
    height: 50vh;
    padding: 8px;
    transform: translate(-50%, -50%);
    /* width: 100%; */
    /* height: 100%; */
    place-items: center;
}


.fade-screen {
    position: fixed;
    inset: 0;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    z-index: 9999;
}