.game-wrapper {
    position: relative;
    /* display: grid; */
    /* grid-template-columns: 20px 1fr 20px; */
    width: 457px;
    height: 600px;
    justify-self: center;
    /* margin: 0 auto; */
    /* margin:auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.start-modal,
.game-over-modal {
    display: grid;
    /* grid-column: 2; */
    min-width: 230px;
    width: 90%;
    height: 50vh;
   padding: 8px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* height: 100%; */
    place-items: center;
}