.start-modal {
    display: grid;

    position: absolute;
    width: 400px;
    height: 45vh;

    .btns-container {

        display: flex;
        justify-content: center;
        align-items: flex-end;

        button {


            cursor: pointer;
            padding: 20px 40px;

            font-family: "Jersey 10";
            background: #00c8f8;
            color: aliceblue;
            font-size: 32px;
            letter-spacing: 4px;
            text-shadow:
                2px 0 black,
                -2px 0 black,
                0 2px black,
                0 -2px black,
                2px 2px black,
                2px -2px black,
                -2px 2px black,
                -2px -2px black;

            border: 3px solid black;
            border-radius: 12px;
            box-shadow:
                inset 0 0 0 3px #0000006b,
                0 3px 0 #004f58;

        }


    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Jersey 10";
        font-size: 2em;


        animation: logo-up-down 1.5s ease-in-out infinite;

        img {
            margin-left: 1em;
            /* height: 100%; */
            width: 3em;
        }
    }
}

.hidden {
    display: none;
}

@keyframes logo-up-down {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}


.flappy-logo {
    white-space: nowrap;

    font-size: 2em;
    letter-spacing: -6px;
    margin: 0;
    

    text-shadow:
        -2px 0 #000,
        2px 0 #000,
        0 -2px #000,
        0 2px #000,
        -2px -2px #000,
        2px -2px #000,
        -2px 2px #000,
        2px 2px #000;
}


.flappy-logo span:nth-child(1) {
    color: #f6e06c;
}

/* F  */
.flappy-logo span:nth-child(2) {
    color: #e15fa9;
}

/* L  */
.flappy-logo span:nth-child(3) {
    color: #b4e1f6;
}

/* A */
.flappy-logo span:nth-child(4) {
    color: #6558f1;
}

/* P */
.flappy-logo span:nth-child(5) {
    color: #8fc361;
}

/* P */
.flappy-logo span:nth-child(6) {
    color: #9c6df7;
}

/* Y */
.flappy-logo span:nth-child(7) {
    color: #a1cde1;
}

/* B */
.flappy-logo span:nth-child(8) {
    color: #8fc461;
}

/* I */
.flappy-logo span:nth-child(9) {
    color: #f6e06c;
}

/* R */
.flappy-logo span:nth-child(10) {
    color: #e15fa9;
}

/* D */