.start-modal {
    .btns-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        button {
            background: #00c8f8;
            box-shadow:
                inset 0 0 0 3px #0000006b,
                0 3px 0 #004f58;

        }


    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;


        animation: logo-up-down 1.5s ease-in-out infinite;

        img {
            margin-left: 1em;
            width: 3em;
        }

        .flappy-logo {
            white-space: nowrap;
            letter-spacing: -6px;

            text-shadow:
                -2px 0 #000,
                2px 0 #000,
                0 -2px #000,
                0 2px #000,
                -2px -2px #000,
                2px -2px #000,
                -2px 2px #000,
                2px 2px #000;
        }


        .flappy-logo span:nth-child(1) {
            color: #f6e06c;
        }

        /* F  */
        .flappy-logo span:nth-child(2) {
            color: #e15fa9;
        }

        /* L  */
        .flappy-logo span:nth-child(3) {
            color: #b4e1f6;
        }

        /* A */
        .flappy-logo span:nth-child(4) {
            color: #6558f1;
        }

        /* P */
        .flappy-logo span:nth-child(5) {
            color: #8fc361;
        }

        /* P */
        .flappy-logo span:nth-child(6) {
            color: #9c6df7;
        }

        /* Y */
        .flappy-logo span:nth-child(7) {
            color: #a1cde1;
        }

        /* B */
        .flappy-logo span:nth-child(8) {
            color: #8fc461;
        }

        /* I */
        .flappy-logo span:nth-child(9) {
            color: #f6e06c;
        }

        /* R */
        .flappy-logo span:nth-child(10) {
            color: #e15fa9;
        }

        /* D */



    }
}

.hidden {
    display: none;
}

@keyframes logo-up-down {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}