* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

canvas {
    height: 90vh;
    background: url('./imgs/backdrop2.png') center / cover no-repeat;
}


.start-modal {
    
    position: absolute;
    width: 400px;
    height: 45vh;
    /* background: #d1d1d1; */
display: grid;
/* flex-direction: column; */

.btns-container {
        
    display: flex;
    justify-content: center; 
        align-items: flex-end;
        button {
            all: unset;
            
            /* border:2px solid black; */
            /* border-radius: 5px ; */
            font-family: "Jersey 10";
            font-size: 32px;
            color: aliceblue;
            text-shadow:
            2px 0 black,
            -2px 0 black,
            0 2px black,
            0 -2px black,
            2px 2px black,
            2px -2px black,
            -2px 2px black,
                -2px -2px black;

                background: #00c8f8;
                padding: 20px 40px;
                border: 3px solid black;
            border-radius: 20px;
            cursor: pointer;

            image-rendering: pixelated;
        }
        
        
    }
    
    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Jersey 10";
        font-size: 1.5em;
        
        
        animation: fb-bob 1.5s ease-in-out infinite;
        
        img {
            margin-left: 1em;
            /* height: 100%; */
            width: 3em;
        }
    }
}

.hidden{
    display: none;
}

.fade-screen {
  position: fixed;
  inset: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

@keyframes fb-bob {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}